<dl>
	<dt>2015.02.09 (Mon)</dt>
	<dd>
		<p>このサイトが入っているサーバがメンテナンスのため、2月16日1:00～8:00の間に5～15分程度停止します。</p>
	</dd>
	<dt>2015.02.07 (Sat)</dt>
	<dd>
		<p>以下の曲を追加しています。</p>
		<ul>
			<li>Next Break Artistコラボ 第3弾
				<ul>
					<li>Flowerwall</li>
					<li>Hopes Bright</li>
				</ul>
			</li>
			<li>第16回ランダムセレクト祭
				<ul>
					<li>Into the Cave (Another Edit)</li>
				</ul>
			</li>
		</ul>
	</dd>
	<dt>2015.01.19 (Mon)</dt>
	<dd>
		<p>以下の曲を追加しています。</p>
		<ul>
			<li>第15回ランダムセレクト祭
				<ul>
					<li>Frgmnts</li>
				</ul>
			</li>
		</ul>
	</dd>
	<dt>2015.01.15 (Thu)</dt>
	<dd>
		<p>長らくお知らせ欄の更新をしていませんでしたが、Frgmntsを除いた、the Last Missile Manまでの127曲分のデータを登録済みです</p>
	</dd>
	<dt>2014.07.27 (Sun)</dt>
	<dd>
		<p>以下の曲を追加しています。</p>
		<ul>
			<li>MIDSUMMER杯
				<ul>
					<li>フィーバー</li>
					<li>サマ★ラブ</li>
					<li>Sunny day</li>
				</ul>
			</li>
			<li>第8回ランダムセレクト祭
				<ul>
					<li>Crisscrosser</li>
				</ul>
			</li>
		</ul>
	</dd>
	<dt>2014.07.01 (Tue)</dt>
	<dd>
		<p>以下の曲を追加しています。</p>
		<ul>
			<li>Tatshフェスティバル
				<ul>
					<li>CrossShooter</li>
					<li>I.D.</li>
				</ul>
			</li>
			<li>June Bride杯
				<ul>
					<li>Reanimation</li>
					<li>Addicted</li>
					<li>Vespero</li>
				</ul>
			</li>
			<li>第7回ランダムセレクト祭
				<ul>
					<li>Hypersphere</li>
				</ul>
			</li>
		</ul>
	</dd>
	<dt>2014.05.24 (Sat)</dt>
	<dd>
		<p>以下の曲を追加しています。</p>
		<ul>
			<li>きゃりーぱみゅぱみゅフェスティバル
				<ul>
					<li>もったいないとらんど</li>
				</ul>
			</li>
			<li>unBORDEレーベル特集 第2弾
				<ul>
					<li>仲間を探したい</li>
					<li>愛の地球祭</li>
					<li>Don't Stop The Music feat. 森高千里</li>
					<li>（フィーバー）</li>
				</ul>
			</li>
			<li>BABYMETALキャンペーン
				<ul>
					<li>イジメ、ダメ、ゼッタイ</li>
					<li>ギミチョコ!!</li>
				</ul>
			</li>
			<li>第6回ランダムセレクト祭
				<ul>
					<li>Into the Cave</li>
				</ul>
			</li>
		</ul>
	</dd>
	<dt>2014.05.01 (Thu)</dt>
	<dd>
		<p>期間限定RP対象曲の入れ替えに対応しました。以下の曲が対象になります。</p>
		<ul>
			<li>Break down</li>
			<li>Anomie</li>
			<li>Hi</li>
		</ul>
	</dd>
	<dt>2014.05.01 (Thu)</dt>
	<dd>
		<p>以下の曲を追加しています。</p>
		<ul>
			<li>きゃりーぱみゅぱみゅ「なんだこれくしょん」特集☆
				<ul>
					<li>ファッションモンスター</li>
					<li>ふりそでーしょん</li>
					<li>インベーダーインベーダー</li>
				</ul>
			</li>
			<li>Next Break Artistコラボ 第2弾
				<ul>
					<li>(Where's)THE SILENT MAJORITY?</li>
					<li>パラレルスペック</li>
					<li>エール</li>
				</ul>
			</li>
			<li>第5回ランダムセレクト祭
				<ul>
					<li>Sundrop (Remix ver.)</li>
				</ul>
			</li>
		</ul>
	</dd>
	<dt>2014.04.14 (Mon)</dt>
	<dd>
		<p>unBordeレーベル特集第1弾の新曲を追加しました。</p>
		<ul>
			<li>SLY</li>
			<li>にんじゃりばんばん</li>
			<li>雪降る夜にキスして</li>
		</ul>
	</dd>
	<dt>2014.04.02 (Wed)</dt>
	<dd>
		<p>Aqualightフェスティバルの新曲を追加しました。</p>
		<ul>
			<li>Aqualight (Remix Ver.)</li>
		</ul>
	</dd>
	<dt>2014.04.01 (Tue)</dt>
	<dd>
		<p>第4回ランダムセレクト祭の新曲を追加しました。</p>
		<ul>
			<li>Murasame</li>
		</ul>
	</dd>
	<dt>2014.04.01 (Tue)</dt>
	<dd>
		<p>期間限定RP対象曲の入れ替えに対応しました。以下の曲が対象になります。</p>
		<ul>
			<li>未確認XX生命体</li>
			<li>Otherside</li>
			<li>Binary Overdrive</li>
		</ul>
	</dd>
	<dt>2014.03.26 (Wed)</dt>
	<dd>
		<p>新チュートリアル曲を追加しました。</p>
		<ul>
			<li>Wasteland</li>
			<li>When You Call My Name</li>
		</ul>
	</dd>
	<dt>2014.03.20 (Thu)</dt>
	<dd>
		<p>au未来研究所コラボキャンペーンの新曲を追加しました。</p>
		<ul>
			<li>some day -see you again-</li>
		</ul>
	</dd>
	<dt>2014.03.19 (Wed)</dt>
	<dd>
		<p>White Day杯の新曲を追加しました。</p>
		<ul>
			<li>大殺界がらくたシンパシー</li>
			<li>RIDE ON NOW!</li>
			<li>ホコロビシロガールズ</li>
		</ul>
	</dd>
	<dt>2014.03.12 (Wed)</dt>
	<dd>
		<p>最終回STORYのSTANDARD譜面のレベルが変更されているので、これを反映しました。</p>
		<ul>
			<li>最終回STORY [STANDARD]： 16 → <em>18</em></li>
		</ul>
	</dd>
	<dt>2014.03.10 (Mon)</dt>
	<dd>
		<p>Touch Of Goldフェスティバルの報酬曲を登録しました。</p>
		<ul>
			<li>Touch Of Gold (Bongo Mango Remix)</li>
		</ul>
	</dd>
	<dt>2014.03.04 (Tue)</dt>
	<dd>
		<p>ハギとこ!とのをコラボキャンペーン曲を登録しました。</p>
		<ul>
			<li>「ハギとこ!」のテーマ</li>
		</ul>
	</dd>
	<dt>2014.03.01 (Sat)</dt>
	<dd>
		<p>期間限定RP対象曲の入れ替えに対応しました。以下の曲が対象になります。</p>
		<ul>
			<li>Jahacid</li>
			<li>Loveless</li>
			<li>What Is Wrong With The World</li>
		</ul>
	</dd>
	<dt>2014.02.26 (Wed)</dt>
	<dd>
		<p>第3回ランダムセレクト祭の新曲を追加しました。</p>
		<ul>
			<li>Nu Era</li>
		</ul>
	</dd>
	<dt>2014.02.26 (Wed)</dt>
	<dd>
		<p>au未来研究所コラボキャンペーンの新曲を追加しました。</p>
		<ul>
			<li>some day (instrumental)</li>
		</ul>
	</dd>
	<dt>2014.02.25 (Mon)</dt>
	<dd>
		<p>クリアレート欄が入力されていれば、RP欄をクリアレートから自動計算して埋めるように改良しました。</p>
		<p>ただし、実データが通常ゲージ98%/ULTゲージ97%（画面表示は98%になる）といったように計算のもとになっているクリアレートが表示されていない場合は自動計算に対応できませんので、ご注意ください。</p>
	</dd>
	<dt>2014.02.18 (Mon)</dt>
	<dd>
		<p>Next Break Artistコラボイベントの新曲を追加しました。</p>
		<ul>
			<li>最終回STORY</li>
			<li>Underworld</li>
			<li>メギツネ</li>
		</ul>
	</dd>
	<dt>2014.02.05 (Wed)</dt>
	<dd>
		<p>バレンタインキャンペーンの新曲を追加しました。</p>
		<ul>
			<li>How True Is Your Love</li>
		</ul>
	</dd>
	<dt>2014.02.04 (Tue)</dt>
	<dd>
		<p>Giant KillingのSTANDARD譜面のレベルが変更されているので、これを反映しました。</p>
		<ul>
			<li>Giant Killing [STANDARD]： 23 → <em>25</em></li>
		</ul>
	</dd>
	<dt>2014.02.02 (Sun)</dt>
	<dd>
		<p>2014/1/31のアップデートで追加された以下の曲を登録しました。</p>
		<ul>
			<li>Grand Arc</li>
		</ul>
	</dd>
	<dt>2014.01.31 (Fri)</dt>
	<dd>
		<p>期間限定RP対象曲の入れ替えに対応しました。以下の曲が対象になります。</p>
		<ul>
			<li>Aqualight</li>
			<li>Wanyo Wanyo</li>
			<li>ホントのワタシ</li>
		</ul>
	</dd>
	<dt>2014.01.30 (Thu)</dt>
	<dd>
		<p>第3回オンラインイベントの報酬楽曲を追加しました。</p>
		<ul>
			<li>魔界村 (平地BGM)</li>
			<li>逆転裁判 (綾里真宵 ～逆転姉妹のテーマ)</li>
			<li>戦国BASARA (SENGOKU BASARA)</li>
		</ul>
	</dd>
	<dt>2014.01.19 (Sun)</dt>
	<dd>
		<p>下記の件実施しました。</p>
	</dd>
	<dt>2014.01.18 (Sat)</dt>
	<dd>
		<p>年越しイベント期間限定曲がランダムセレクト祭で常駐させることが可能と判明したので、1/20 0:00ごろに「PR対象外曲」から「一般曲」に移動させようと検討しています。</p>
		<p>移動の際、これら2曲について登録されているデータは全譜面未取得/ロックの状態にデータ状態を変更します。ご了承をお願いします。</p>
	</dd>
	<dt>2014.01.18 (Sat)</dt>
	<dd>
		<p>2014/1/18のApple Store, Ginzaでのストアイベントで発表された以下の曲を登録しました。</p>
		<ul>
			<li>Make It Fresh EDM ver.</li>
		</ul>
	</dd>
	<dt>2014.01.17 (Fri)</dt>
	<dd>
		<p>2014/1/16のアップデートで追加された以下の曲を登録しました。</p>
		<ul>
			<li>A&times;E&times;U&times;G -act.1-</li>
			<li>ロックマン (CUTMAN STAGE)</li>
		</ul>
	</dd>
	<dt>2014.01.12 (Sun)</dt>
	<dd>
		<p>ULTIMATEでのクリア情報が登録されているとき、登録されたクリアレートのほかに、ポイントから逆算したULTIMATEモードでのクリアレート値も表示するようにしました。</p>
		<p>ゲーム画面のほうで、ULTIMATEクリア時のクリアレートが表示されない場合があることによる対策措置となります。</p>
		<p>導入の経緯は<a href="https://twitter.com/maplia/status/422176470220275712">このTwitterでのやりとり</a>をご参照ください。</p>
	</dd>
	<dt>2014.01.09 (Thu)</dt>
	<dd>
		<p>各譜面ごとにULTIMATEでのクリアを入力できるようにしました。</p>
		<p>また、2014/1/8のアップデートで追加された以下の曲を登録しました。</p>
		<ul>
			<li>Z[i]</li>
			<li>HEADPHONE PARTY</li>
		</ul>
	</dd>
	<dt>2014.01.08 (Wed)</dt>
	<dd>
		<p>2014/1/8のアップグレードで実装されるULTIMATEオプションにて、<a href="https://twitter.com/CROSSxBEATS/status/420563698080415744">RPにボーナスがつく</a>ことが発表されました。</p>
		<p>本ツールについて修正対応が必要かどうかはこのオプションの挙動が判明してからの判断となりますので、修正が必要であった場合はしばらく対応をお待ちください。</p>
		<p>しばらくご迷惑をおかけすることがあると思いますが、ご了承お願いします。</p>
	</dd>
	<dt>2014.01.03 (Fri)</dt>
	<dd>
		<p>レベル情報が公開されたので、第2回オンラインイベント（第2部）の報酬楽曲を追加しました。</p>
		<ul>
			<li>電脳少女は歌姫の夢を見るか?</li>
			<li>ツカイステ・デッドワールド</li>
			<li>Reseed</li>
		</ul>
	</dd>
	<dt>2014.01.02 (Thu)</dt>
	<dd>
		<p><a href="http://app.famitsu.com/">ファミ通App</a>お年玉企画の新曲を追加しました。</p>
		<ul>
			<li>What Is Wrong With The World (Cross Edit)</li>
		</ul>
	</dd>
	<dt>2014.01.01 (Wed)</dt>
	<dd>
		<p>第2回オンラインイベント（第1部）の報酬楽曲、および1/1の追加配信曲を追加しました。</p>
		<ul>
			<li>Sundrop</li>
			<li>チルドレン・オートマトン ～ある歌声の亡霊～</li>
			<li>Re:Milky Way</li>
		</ul>
		<p>また、RP計算対象ではありませんが、以下のイベント限定曲を追加しました。</p>
		<ul>
			<li>ロマンシングゲーム</li>
		</ul>
	</dd>
	<dt>2013.12.29 (Sun)</dt>
	<dd>
		<p>ご要望をいただいていた<a href="https://twitter.com/maplia/status/415971219758776320">譜面ロック中の状態を入力する方法</a>を実装しました。</p>
		<p>ここにチェックをすると、その譜面は合計RPの計算対象外になります。</p>
	</dd>
	<dt>2013.12.28 (Sat)</dt>
	<dd>
		<p>RP計算対象ではありませんが、以下のイベント限定曲を追加しました。</p>
		<ul>
			<li>Another Chance</li>
		</ul>
	</dd>
	<dt>2013.12.27 (Fri)</dt>
	<dd>
		<p>期間限定RP対象曲の入れ替えに対応しました。以下の曲が対象になります。</p>
		<ul>
			<li>Landing on the moon</li>
			<li>キミとMUSIC</li>
			<li>Dirty Mouth</li>
		</ul>
	</dd>
	<dt>2013.12.20 (Fri)</dt>
	<dd>
		<p>Winterキャンペーンの楽曲を追加しました。</p>
		<ul>
			<li>エアリアル</li>
		</ul>
	</dd>
	<dt>2013.12.19 (Thu)</dt>
	<dd>
		<p>第1回オンラインイベントの報酬楽曲を追加しました。</p>
		<ul>
			<li>Break Your World</li>
			<li>最後の1ページ</li>
			<li>Cross+Angel</li>
		</ul>
	</dd>
	<dt>2013.12.15 (Sun)</dt>
	<dd>
		<p>とりあえず公開</p>
	</dd>
</dl>
