<%# coding: utf-8 %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="Content-Style-Type" content="text/css">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<meta name="generator" content="<!--PRESET_ENGINE_NAME-->">
		<meta name="robots" content="noindex, nofollow">
		<link rel="stylesheet" type="text/css" href="<!--PRESET_STYLE_SHEET-->">
		<title>ランク別許容ミス数計算機 - <!--PRESET_ENGINE_NAME--></title>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-3124682-7', 'maplia.jp');
		  ga('send', 'pageview');
		</script>
		<script type="text/javascript">
			var titles = new Array(<%= titles.join(',') %>);
			var std_notes = new Array(<%= std_notes.join(',') %>);
			var hrd_notes = new Array(<%= hrd_notes.join(',') %>);
			var mas_notes = new Array(<%= mas_notes.join(',') %>);
			var notes = new Array(std_notes, hrd_notes, mas_notes);
		</script>
		<script type="text/javascript" src="/tools/cxb_rank.js"></script>
		<style type="text/css">
			td {width: 3.0em;}
		</style>
	</head>

	<body onLoad="initialize(document.form1.music, 'chart', titles, notes);">
		<p class="top_navi"><a href="/<!--PRESET_SITE_TOP_URI-->"><!--PRESET_ENGINE_NAME--> トップ</a> &gt; ランク別許容ミス数計算機</p>
		<h1>ランク別許容ミス数計算機</h1>

		<p>あるランクを取得するのに許容されるミス（Cool未満の判定）の数を譜面ごとに表示します</p>
		<p>※ノート数がデータベース未登録の曲は表示されません。ノート数がわかっている場合は<a href="/tools/calc">ノート数指定版</a>を使ってください</p>

		<form name="form1">
			<p>
				曲名: <select name="music" onChange="createChart(document.form1.music.selectedIndex, 'chart', titles, notes);"></select>
			</p>
		</form>

		<table id="chart"></table>

		<!--PRESET_FOOTER-->
	</body>
</html>
