<%# coding: utf-8 %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=<!--PRESET_CHARSET-->">
		<meta http-equiv="Content-Style-Type" content="text/css">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<meta name="generator" content="<!--PRESET_ENGINE_NAME-->">
		<meta name="robots" content="noindex, nofollow">
		<link rel="stylesheet" type="text/css" href="<!--PRESET_STYLE_SHEET-->">
		<title>ランクポイントランキング - <!--PRESET_ENGINE_NAME--></title>
	</head>

	<body>
		<p class="top_navi"><a href="/<!--PRESET_SITE_TOP_URI-->"><!--PRESET_ENGINE_NAME--></a> &gt; ランクポイントランキング</p>
		<h1>ランクポイントランキング</h1>

		<div class="unit">
			<h2>曲リスト</h2>
			<div class="subunit">
				<table class="list">
					<thead>
						<tr>
							<th>#</th><th>タイトル</th>
							<th class="number">登録人数</th>
							<th>最終更新日時</th>
						</tr>
					</thead>
					<tbody>
					<% index = 1 %>
						<% musics.each do |music| %>
							<tr>
								<th><%= index %></th>
								<td class="text">
									<a href="/view_rank/<%= music.text_id %>">
										<%= music.title %>
									</a>
								</td>
								<td></td>
								<td></td>
							</tr>
							<% index = index + 1 %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>

		<!--PRESET_FOOTER-->
	</body>
</html>
